# WalletConnect
EXPO_PUBLIC_WC_PROJECT_ID=your_walletconnect_project_id

# Optional RPC
EXPO_PUBLIC_ALCHEMY_KEY=

# App
EXPO_PUBLIC_DEFAULT_PROTOCOL=hyperliquid
EXPO_PUBLIC_ENVIRONMENT=mainnet

# Hyperliquid
EXPO_PUBLIC_HL_API_URL=https://api.hyperliquid.xyz
EXPO_PUBLIC_HL_WS_URL=wss://api.hyperliquid.xyz/ws

# Lighter
EXPO_PUBLIC_LIGHTER_API_URL=https://mainnet.zklighter.elliot.ai
EXPO_PUBLIC_LIGHTER_WS_URL=wss://mainnet.zklighter.elliot.ai/stream

# Aster
EXPO_PUBLIC_ASTER_API_URL=https://api.aster.finance
EXPO_PUBLIC_ASTER_WS_URL=wss://api.aster.finance/ws
