# OS
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*

# Expo
.expo/
dist/
web-build/
expo-env.d.ts.bak

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Env
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp

# Misc
*.log
coverage/
